/*button style */
.pricing-schedule-input{
    border-style: none;
    
  }
  .pricing-schedule-form{
    background-color: #fff;
    width: fit-content;
  }
  .pricing-schedule-button{
   background-color: #ba4270;
   color:#fbfcfe
  }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  overflow-x: hidden;
  /* new */
  height: fit-content;
  width: 1440px;
  /* left: -457px;
  top: -1575px;  */
  border-radius: 0px;
}

body {
  background-color: #edf3f8;
  color: #36536b;
  margin: 0;
}

.main-content {
  position: relative;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

button {
  background-color: hsl(333, 58%, 45%);
  color: white;
  border-radius: 35%;
  height: 45px;
  width: 150px;
  margin-right: 150px;
}

/* Header */

header {
  position: relative;

  width: 100%;

  background-color: #edf3f8;
  color: #36536b;

  /* new */
  height: 90px;
  width: 1110px;
  left: 165px;
  top: 5px;
  border-radius: 0px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  left: 165px;
  font-family: "Public Sans", sans-serif;
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  /* line-height: 1.6; */
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
  /* margin-top: 100px; */
}

header .icon {
  width: 1rem;
  padding-left: 0.75rem;
}

/* Start Section */

#start {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #edf3f8;
  color: #36536b;
  margin-left: 165px;
}

.start img {
  width: 263px;
  height: 500px;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: #edf3f8;
  color: #36536b;
}

.feature .image-container {
  width: 90%;
  /* height: 65%; */
  margin: 0 auto;
}

/*
.feature .content {
height: 345px;
width: 546px;
left: 165px;
top: 260px;
border-radius: 0px;
} */

.feature h2 {
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #36536b;
}

/* companies */
#companies {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 5%;
  align-items: center;
  width: 100%;
  background-color: 1b262;



  /*
  height: 472px;
  width: 1440px;
  left: 0px;

   
  border-radius: 0px;


  
top: 737px;
*/
}

.company {
  flex: 1;
  padding: 2rem;
  /*  margin: 200px 1.25rem; */
  margin-top: 0px;

  
  width: 100%;
}

.company h2{
    padding-bottom: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #36536b;
}

.company .image-container {
  /*  width: 90%;
    height: 65%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.group{
    flex-direction: column;
    margin-right: 30px;
    margin-left: 40px;
    padding: 30px;
    justify-content: space-between;
}
.company .text-container{
    margin-left: 165px;
}

/* Implement */
#implement {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  align-items: center;
  /*new*/
  height: 300px;
  
  top: 50px;
  width: 100%;
}

.section {
  flex: 1;
  padding: 2rem;
  margin: 0px 0px;
}

.section .image-container {
  width: 100%;
  height: 280px;
  margin-left: 80px;
}

.section h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #36536b;
}

/* UI and UX */
#userInterface {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  align-items: center;
  margin-left: 165px;
}

.sections {
  flex: 1;
  padding: 2rem;
  margin: 0px 0px;
}

.sections .image-container {
  width: 100%;
  height: 20%;
  margin: 0 auto;
}

.text {
  height: 136px;
  width: 445px;
  left: 165px;
  top: 1975px;
  border-radius: 0px;
}

/* Cards Section */

#cards {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
 align-items: center;
  height: 350px;
  margin-left: 100px;
  width: 100%;
}

.card {
  flex: 1;
  padding: 2rem;
  margin: 0px 0px;

  height: 400px;
  width: 100px;
}

.card .image-container {
  width: 100%;
  height: 20%;
  margin: 0 auto;
}

.card .content {
  padding: 2.5rem 0;
}

.card h2 {
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #36536b;
}

/* Ready to start */
#ready {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;

  margin-bottom: 0px;

  /* new */
  height: 56px;
  margin-left: 165px;
  margin-top: 0px;
}

.cardss {
  flex: 1;
  padding: 2rem;
  margin: 5px 0px;

  height: 300px;
  width: 100px;
}

/*
.cardss .image-container {
  width: 100%;
  height: 20%;
  margin: 0 auto;
}  

*/

.cardss .content {
  padding: 2.5rem 0;
  display: flex;
}

.cardss h2 {
  /* padding-bottom: 0.5rem;  */
  font-size: 2.25rem;
  font-weight: bold;
  color: #36536b;
}

/* footer  
footer {
  width: 100%;

  margin-top: 0px;
  left: 165px;

   new 
  height: 100px;
  width: 1440px;
  left: 0px;
  top: 2966px;
  border-radius: 0px;
}




footer .lastnote {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

footer .logo {
  flex: 1;
}

footer nav ul {
  display: flex;
  list-style: none;
}

footer nav li {
  padding-left: 3.5rem;
  color: #f3f3f3;
}

footer nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

.logos {
  display: flex;
  align-items: flex-end;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  flex: 1;
}

*/

/*
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 60%;
  border-radius: 20px;
}



.footer{
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B262F;
    color: #FBFCFE;
    margin: 0;
    height: 100px;
    font-family: 'Public Sans', sans-serif;
}


.f-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer ul{
    display: flex;
    
}


.footer li{
    margin-left: 25px;
    margin-right: 25px;
    list-style-type: none;

}
.footer a{
    text-decoration: none;
    color: #FBFCFE;
}

.f-footSvg svg{
    margin-left: 10px;
    margin-right: 10px;
}


*/
