/*font-family: 'Public Sans', sans-serif;
font-family: 'DM Serif Display', serif;
*/

body{
    background-color: #EDF3F8;
    color: #36536B;
    margin: 0;
    padding: 0;
    height: 100%;

     /* border: 2px solid green; */
    /* width: 1440px; */


}
nav{
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    /* border: 1px solid red; */
    width: 1110px;
    height: 48px;
    margin: 40px 165px 0px 165px; 
    
}

#top{
    position: absolute;
    top: 0px;
    right: 0px;
    /* border: 1px solid red; */
    
}


#buttom{
    position: absolute;
    top: 1109px;
    right: 0px;
}

#topMob, #toptab, #botMob{
    display: none;
}
.menu{
    display: none;
}

nav ul{
    /* border: 1px solid yellow; */
    
}
nav li:hover{
    font-weight: bold;
}

.mobile{
    display: none;
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0px;

}

.navBar button {
    height: 30px;

    background-image: url('../assets/shared/desktop/bg-pattern-circle.svg');
}
.navBar ul{
    display: flex;
    width: 232px;
    height: 18px;
}
    

.navBar li{
    margin: 0px 40px 0px 0px;

    list-style-type: none;
}

.navBar a{
    text-decoration: none;
    color: #36536B;
}

#nav-svg-wrapper {
    position: relative;
    top: -120px;
    left: 900px;
    margin: 0;
    
}

#foot-svg-wrapper{
    position: relative;
    top: -100px ;
    left: 1100px;
    margin: 0;
}


.navBar-link{
    z-index: 100;
}

/*Desktp View*/
.hOne{
    /* border: 1px solid red; */
    width: 730px;
    height: 133px;
    margin: 82px 545px 43px 165px;
}
.hOne h1{
    margin: 0px;

    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
    font-family: 'DM Serif Display', serif;
    /* or 100% */

    letter-spacing: -0.430769px;

    color: #36536B;
    width:  730px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.middle{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 499px;
    /* border: 2px solid black; */
    margin: 0px 0px 93px 165px;
}
.middle-left{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
    width:  445px;
    height: 499px;
}


.middle-left form{
    margin: 0px;
    font-family: 'Public Sans', sans-serif;
    /* border: 1px solid blue; */
    height: 499px;
}
input{
    
    border: 0;
    background-color: #EDF3F8 ;
    color: black;
    
    
}

input:focus{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 ;
    background-color: #EDF3F8;
    outline: none;
}


input[type=text] {
    border: none;
    font-size: 15px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-bottom: 1px solid rgb(161, 161, 161);
    padding: 4px;
    width: 445px;
    height: 42px;
    
  }
  input[type=text]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }

  input[type=text]:hover {
    border:0;
    color: rgb(255, 64, 64);
    border-bottom: 1px solid rgb(255, 64, 64);
    cursor:  pointer;
    
  }
  
  input[type=email] {
    border: none;
    font-size: 15px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-bottom: 1px solid rgb(161, 161, 161);
    padding: 4px;
    width: 445px;
    height: 42px;
    
  }
  
  
 
  input[type=email]:hover {
    border:0;
    color: rgb(255, 64, 64);
    border-bottom: 1px solid rgb(255, 64, 64);
    cursor:  pointer;
    
  }
  
  input[type=email]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }

.error{
      color: rgb(255, 64, 64);
      font-size: 11px;
      padding-top: 10px;
      font-family: 'Public Sans', sans-serif;
           
  }
.error input[type=email]{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}
.error input[type=email]:focus{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}
 
  textarea{
      height: 89px;
      padding-top: 0px;
      font-size: 15px;
      background-color: #EDF3F8;
      color: #36536B;
      mix-blend-mode: normal;
      opacity: 0.5;      
      padding: 4px;
      width: 445px;      
      border: none;
      border-bottom: 1px solid rgb(161, 161, 161);
      cursor: pointer;
      resize: none;
      font-family: 'Public Sans', sans-serif;

  }

  textarea::placeholder{
      color: #36536B;
  }
textarea:focus{
    outline: none !important;
    
    
}
textarea:hover{
    border:0;
   color: rgb(255, 64, 64);
   border-bottom: 1px solid rgb(255, 64, 64);
   cursor:  pointer;
}


.diff-nt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 24px 0px;
}

label{
    font-size: 15px;
    color: #36536B;
    width: 395px;
    height: 50px;
    line-height: 25px;
    margin-left: 26px;
    
}


  input[type=submit] {
 
      background-color: #EDF3F8;
      border: 1px solid #36536B;
      border-radius: 86px;
      cursor: pointer;
      padding: 8px;
      width: 152px;
      height: 48px;
      margin: 0px;
  }
 
  input[type=submit]:hover{
      background-color: #36536B;
      color: white;
  }
 
 .middle-left input[type="checkbox"] {
     
     background-color: #36536B;
     accent-color: #BA4270;  
     cursor: pointer;
        
    width: 20px;
    height: 20px;
  }
 
  .middle-left input[type="checkbox"]:hover{
     background-color: #36536B;
     opacity: 25%;
  }
  


/**/
.middle-right{
    display: flex;
    width: 541px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid blue; */
    

}

.paraG p{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    width: 445px;

    /*margin-top: 70px;*/
    /* or 133% */
    

    letter-spacing: -0.184615px;

    color: #36536B;

    mix-blend-mode: normal;
    opacity: 0.75;
}
.middle-right svg{

    margin: 15px;
}
.sGv {
    display: flex;
    width: 541px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.RTS h2{
    font-family: DM Serif Display; 
    font-size: 40px;      
     line-height: 56px;
     line-height: 85%;      
     letter-spacing: -0.37px;
     margin: 0px;
 }

 .RTS input[type=text] {
     position: relative;
     left: 56px;
   color: #36536B;
   mix-blend-mode: normal;
   opacity: 0.5;
   background: #FBFCFE;
   box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
   font-size: 15px;
   border: 1px solid rgb(161, 161, 161);
   border-radius: 24px;
   padding-left: 30px;
   width: 250px;
   height: 40px;
   
 }

 .RTS input[type=submit]{
     position: relative;
     left: 0px;
     background-color: #BA4270;
   color:  #FBFCFE;
     border-radius: 25px;
     border: 0px;
     cursor: pointer;
     width: 150px;
     height: 48px;
 }

 .RTS input[type=submit]:hover{
   background-color: #DA6D97;
}
 
footer{     
    background-color: #1B262F;    
    margin: 0;
    height: 100px;
    display: flex;
    
}

.footer{
    color: #FBFCFE;
    font-family: 'Public Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1111px;
    height: 38px;
    margin: 31px 165px 31px 164px;
}
.f-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer ul{
    display: flex;
    
}


.footer li{
    margin-left: 25px;
    margin-right: 25px;
    list-style-type: none;

}

.footer li:hover{
    font-weight: bold;
}
.footer a{
    text-decoration: none;
    color: #FBFCFE;
}
.f-footSvg{
    z-index: 100;
}
.f-footSvg svg{
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
}

.f-footSvg svg:hover path{
    fill: #DA6D97;
}
button{
    background-color: #BA4270;
    color:  #FBFCFE;
      border-radius: 24px;
      border: 0px;
      cursor: pointer;
      padding: 8px;
      width: 173px;
      height: 48px;
      z-index: 100;
}
button:hover{
    background-color: #DA6D97;
    
}

  .RTS{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 165px 96px 165px;
      height: 56px;
      width: 1110px;
      /* border: 1px solid red; */
      
  }

  .RTS form {
      height: 48px;      
  }

 

/*Tablet View*/

@media only screen and (max-width: 1200px) {

    body {
        margin: 0px;
    }
  
.middle{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.middle-left{
    display: flex;
}

.mobile{
    display: none;
}

.hOne h1{
    
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
    font-family: 'DM Serif Display', serif;
    /* or 100% */

    letter-spacing: -0.430769px;
    text-align: center;
    color: #36536B;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.middle-right{
    display: flex;
    width: 541px;
    height: 208px;
   
}

.paraG p{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    width: 445px;
    margin-left: 100px;
    text-align: center;
    /*margin-top: 70px;*/
    /* or 133% */
    

    letter-spacing: -0.184615px;

    color: #36536B;

    mix-blend-mode: normal;
    opacity: 0.75;
}
.middle-right svg{
    margin: 25px;
}

#part1{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}



#part2{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}


.sGv {
    display: flex;
    margin-top: 84px;
    padding-top: 50px;
    width: 582px;
    justify-content: space-around;
    flex-wrap: wrap;
}  

.RTS h2{
    margin-top: 100px;
}

.RTS{
    display: flex;
    flex-direction: column;
    width: 445px;
    margin: 100px 161px 1px 162px;
}

}

@media only screen and (max-width: 1024px) {
    body {
        /* width: 1000px; */
        margin: 0;
    }
    .hOne{
        /* border: 1px solid red; */
        width: 730px;
        height: 133px;
        margin: 82px 545px 43px 165px;
    }
    .hOne h1{
        margin: 0px;

    }
  
    .mobile {
        display: none;
    }
.middle-right{
    display: flex;
   margin: 30px 300px 30px ;
}

.RTS{
    /*border: 1px solid green;*/
    display: block;
    width: 445px;
    height: 144px;
}

.RTS h2{
    margin: 0px 0px 40px 0px;
    font-family: DM Serif Display;
    font-size: 40px;
    line-height: 85%;
    letter-spacing: -0.37px;
    text-align: center;
}

.RTS form{
    display: flex;
    margin: 0px 2px 0px 62px;
    height: 48px;
}

.RTS input[type=text]{
    /*background-color: red;*/
}

.RTS input[type=submit] {
    margin: 0px;
    width: 173px;
    position: relative;
    left: -35px;
}
/* @media only screen and (max-width: 820px){
    body{
        width: 820px;
        height: 1180px;
    }
    nav{
        margin: 40px 65px 0px 65px;
        width: 689px;
    }

    .hOne{
        margin: 0px 90px 0px 90px;
        height: 54px;
        width: 640px;
        
    }

    .hOne h1{
        font-size: 24px;
        height: 54px;
        width: 640px;
    }
    .middle{
        margin: 0px;
        width: 820px;
    }

    .middle-left{
        width: 820px;
        margin: 0px;

    }
} */

.footer{
    margin: 0px;
    width: 689px;
}
}

/*tablet view*/
@media only screen and (max-width: 768px) {
    body {
        width:  768px;

    }
    nav{
        width: 689px;
        height: 48px;
        margin: 40px 40px 0px 39px;
        /*border: 1px solid black;*/
    }

    #top{
        position: absolute;
        top: 0px;
        right: 60px;
        /* border: 1px solid red; */
        
    }
    
    
    #buttom{
        position: absolute;
        top: 1425px;
        right: 0px;
    }
    #toptab {
        display: flex;
        position: absolute;
        top: 0px;
        right: 0px;
    }
   
    #top, #botMob,#topMob  {
        display: none;
    }
    .hOne{
        width: 573px;
        height: 178px;
        margin: 75px 98px 54px 97px;
        /*border: 1px solid red;*/
    }
    .hOne h1{
        margin: 0px;
        /*text-align: center;*/
        font-family: DM Serif Display;
        font-style: Regular;
        line-height: 56px;
        line-height: 85%;
        letter-spacing: -0.37px;
        font-size: 51px;
        width: 520px;
        
    }
    .middle{
        display: block;
        /*border: 1px solid green;*/
        height: 771px;
        width: 541px;
        margin: 0px 114px 0px 114px;
    }
    .middle-left{
        /*border: 1px solid red;*/
        margin: 0px 48px 0px 48px;

    }
    .middle-left form{
        /*border: 1px solid green;*/
        margin: 0px 162px 0px 161px;
        width: 445px;
        height: 499px;
    }

    
input{
    border: 0;
    background-color: #EDF3F8 ;
    color: black;    
    
}

input:focus{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 ;
    background-color: #EDF3F8;
    outline: none;
}
form input[type=text] {
    
    width: 327px;
    height: 42px;
    
  }

  form input[type=email] {
    
    width: 327px;
    height: 42px;
    
  }

  label{
      font-size: 15px;
      width: 277px;
      height: 50px;
      color: #36536B;
  }
  input[type=text]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }

  input[type=email]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }
  
  input[type=submit]{
    background-color: #EDF3F8;
    border: 1px solid #36536B;
    border-radius: 86px;
    cursor: pointer;
    padding: 8px;
    width: 152px;
    height: 48px;
    margin: 0px;
    margin-top: 24px;
  }
  
.message-mobile{
    height: 89px;
    margin: 0px;    
    padding-top: 0px;
    font-size: 15px;
    background-color: #EDF3F8;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;      
    padding: 4px;
    width: 327px;      
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    cursor: pointer;
    resize: none;
    font-family: 'Public Sans', sans-serif;

}

textarea::placeholder{
    color: #36536B;
}
textarea:focus{
  outline: none !important;
  
  
}
textarea:hover{
  border-bottom: rgb(255, 64, 64);
}


.middle-left form .error{

      color: rgb(255, 64, 64);
      font-size: 11px;
      padding-top: 10px;
      font-family: 'Public Sans', sans-serif;
    
  }
.error input[type=email]{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}
.error input[type=email]:focus{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}

.middle-left form{
    /*margin-left: 95px;
    margin-right: 24px;*/
    height: 499px;
    margin: 0px;
   /*border: 1px solid purple;*/ 
    font-family: 'Public Sans', sans-serif;
}

.diff-nt{
    /*border: 1px solid red;*/
    display: flex;
    margin: 24px 0px 0px 0px;
    justify-content: flex-start;
    
}
/*
.right{
    margin: 80px 0px 0px 0px;

    display: block;
    height: 282px;
    width: 327px; 
    border: 3px solid yellow;
    
}*/
    .middle-right{
        display: block;
        /*border: 1px solid blue;*/
        margin: 64px 0px 0px 0px;
    }

    .sGv{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .paraG p {
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        width: 445px;
        margin: 0px 48px 0px 48px;
        text-align: center;
        /* margin-top: 70px; */
        letter-spacing: -0.184615px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    .RTS{
        /*border: 1px solid green;*/
        display: block;
        width: 445px;
        height: 144px;
    }

    .RTS h2{
        margin: 0px 0px 40px 0px;
        font-family: DM Serif Display;
        font-size: 40px;
        line-height: 85%;
        letter-spacing: -0.37px;
        text-align: center;
    }

    .RTS form{
        display: flex;
        margin: 0px 2px 0px 62px;
        height: 48px;
    }

    .RTS input[type=text]{
            /* background-color: red; */
            position: relative;
            left: 0px;
            color: #36536B;
            mix-blend-mode: normal;
            opacity: 0.5;
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgb(54 83 107 / 25%);
            font-size: 15px;
            border: 1px solid rgb(161, 161, 161);
            border-radius: 24px;
            padding-left: 30px;
            width: 250px;
            height: 40px;
    
    }

    .RTS input[type=submit] {
        margin: 0px;
        width: 173px;
        position: relative;
        left: -35px;
    }

    footer{
        width: 768px;
    }
    .footer{
        /*border: 3px solid white;*/
        width: 689px;
        height: 38px;
        margin: 31px 40px 31px 39px;
    }
@media only screen and (max-width: 700px) {
    body {
        width: 0px;
    }
    .message-tablet{
        height: 89px;
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 0px;
        font-size: 15px;
        background-color: #EDF3F8;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.5;      
        padding: 4px;
        width: 445px;      
        border: none;
        border-bottom: 1px solid rgb(161, 161, 161);
        cursor: pointer;
        resize: none;
        font-family: 'Public Sans', sans-serif;
    
    }
    
    textarea::placeholder{
        color: #36536B;
    }
    textarea:focus{
      outline: none !important;
      
      
    }
    textarea:hover{
      border-bottom: rgb(255, 64, 64);
    }

    .hOne h1{
        margin-left: 76px;
    }

    .middle-left form{
        margin-left: 80px;
    }    
}
@media only screen and (max-width: 540px){
    .footer{
        width: 100%;
    }
}     
}

/*Mobile*/
@media only screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        width: 375px;

        /* border: 1px solid blue;         */
    }

    #top, #buttom, #toptab{
        display: none;
    }

    #topMob{
        
        display: flex;
        position: absolute;
        top: 0px;
        right: -35px;
    }
    #botMob{
        display: flex;
        position: absolute;
        top: 1695px;

    }

    nav{
        margin: 40.7px 24px 0px 24.76px;
        width: 326.24px;
        height: 36.77px;
        display: flex;
       /* border: 3px solid black;
       border: 1px solid green*/
    }

    nav #payApi-logo{
        width: 133.9px;
        height: 36.77px;
        margin: 0px;       
    }

    nav .mobile #menu {
        width: 28px;
        height: 17px;
        
    }
    .navBar {        
        width: 326.24px;
        height: 36.77px;
        display: flex;
        margin: 0px;
        align-items: center;
        justify-content: space-between;
    }
    

  .navBar ul{
      display: none;
  }
  .navBar-link{
      display: none;
  }

   .drop-down-menu{/*
     display: block;
      
       */
      /* left: 75px; */
      /* 
      margin: 0px;*/    
      position: relative;
      right: 93px;
      top: 263px;
      background-color: #1B262F;
       width: 300px;
       height: 667px;
       z-index: 10;
       transition: right 1s ease;
       display: flex;
  } 

  .drop-down-menu ul{
      /* border: 2px solid #FBFCFE; */
        padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 260px;
      margin: 43px 0px 0px 0px;
      position: relative;
  }

  .drop-down-menu li {
        font-size: 20px;    
      list-style-type: none;
      
  }

  .drop-down-menu li:hover{
      font-weight: bold;
  }

  .drop-down-menu li a{
    text-decoration: none;
    cursor: pointer;
    color: #FBFCFE;
  }
  .menu{
      display: flex;
      z-index: 1;
  }

#navContainer{
    z-index: 100;
    margin: 24px 27px 0px 24px;
    width: 249px;
    height: 260px;
    border: 1px solid #979797;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    position: relative;
    top:  70px;
    right: 273px;
}
  #scheDule button{
        background-color:#BA4270 ;
        width: 252px;
        height: 48px;
        border-radius: 24px;
        text-align: center;
        font-size: 15px;

  }

  #scheDule button:hover{
      background-color: #DA6D97;
  }

  /* .close{
     
      
  } */
  .close svg{
    margin: 48px 0px 0px 251px;

  }

 /* */.mobile{
      display: none;
      margin: 0px;
      padding: 0px;
      width: 0px;
      height: 0px;
      position: relative;
      top: -320px;
      right: 165px;
  }

  
.hOne {
    height: 116px;
   /* border: 1px solid blue;*/
    width: 327px;
    margin: 48.47px 24px 0px 24px;
}
  .hOne h1{     
    
    width: 327px;
    margin: 0px; 


    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    /* or 100% */

    letter-spacing: -0.25px;
    
    color: #36536B;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.middle{

    display: block;
    width: 327px;
    height: 861px;
    /*border: 3px solid red;*/
    margin: 40px 24px 0px 24px;

}
.middle-left{
    width: 327px;
    height: 499px;

    display: block;
    margin-left: 0px;
    
}


input{
    border: 0;
    background-color: #EDF3F8 ;
    color: black;    

    
}

input:focus{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 ;
    background-color: #EDF3F8;
    outline: none;
}
form input[type=text] {
    width: 327px;
    height: 42px;    
  }


  form input[type=email] {    
    width: 327px;
    height: 42px;   
  }

 

  input[type=text]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }

  input[type=email]:focus {
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
  }
  
  
.message-mobile{
    height: 89px;
    margin: 0px;    
    padding-top: 0px;
    font-size: 15px;
    background-color: #EDF3F8;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;      
    padding: 4px;
    width: 327px;      
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    cursor: pointer;
    resize: none;
    font-family: 'Public Sans', sans-serif;

}

textarea::placeholder{
    color: #36536B;
}
textarea:focus{
  outline: none !important;
  
  
}
textarea:hover{
  border-bottom: rgb(255, 64, 64);
}

.middle-left form .error{

      color: rgb(255, 64, 64);
      font-size: 11px;
      padding-top: 10px;
      font-family: 'Public Sans', sans-serif;
    
  }

.error input[type=email]{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}
.error input[type=email]:focus{
    border-color: rgb(255, 64, 64);
    color: rgb(255, 64, 64);
}
.diff-nt{
    display: flex;
    width: 327px;
    margin: 24px 0px 0px 0px;
}

label{
    height: 50px;
    width: 277px;
    font-size: 15px;
    color: #36536B;
    /*border: 1px solid red;*/
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
}
.middle-left form{
    /*margin-left: 95px;
    margin-right: 24px;*/
    height: 499px;
    width: 327px;
    margin: 0px;
   /*border: 1px solid purple;*/ 
    font-family: 'Public Sans', sans-serif;
}

.right{
    margin: 80px 0px 0px 0px;

    display: block;
    height: 282px;
    width: 327px; 
   /* border: 3px solid yellow;*/
    
}
#tes {
    margin: auto;
    height: 19.26px;
    width: 130.2px;
    margin-bottom: 35px;
}

#ms {
    margin: auto;
    height: 34px;
    width: 146px;
    margin-bottom: 35px;
}

#hp {
    height: 28px;
    width: 140.94px;
    margin: auto;
    margin-bottom: 35px;
}

#oracle {
    height: 19.85px;
    width: 136.55px;
    margin: auto;
    margin-bottom: 35px;
}

#google {
    height: 38px;
    width: 99px;
    margin: auto;
    margin-bottom: 35px;
}

#nvidea {
    height: 25px;
    width: 140px;
    margin: auto;
    margin-bottom: 35px;
}
.middle .middle-right .paraG {
    width:  327px;
    margin: 0;    
}
 
.paraG p{
    margin: 0px 0px 20px 0px;
    width: 327px;
    height: 96px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    letter-spacing: -0.18px;
    
}


/*#email2 {
width: 305px;

margin-left: -113px;
}*/

.RTS h2{
    margin: 0px 0px 32px 0px;
    font-family: DM Serif Display;
    text-align: center;
    font-size: 40px;
    line-height: 56px;
    line-height: 85%;
    letter-spacing: -0.37px;
      

}

.RTS{
    display: block;
    width: 328px;
    margin: 80px 24px 80px 24px;    
   /* border: 3px solid blue;*/
    height: 180px;
}
.RTS form{
    display: block;
    /**/flex-direction: column;
    margin: 0px;
    
}

.RTS input[type=text] {
    position: relative;
    left: 0;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;
    /*background:  #FBFCFE;*/
    box-shadow: 10px 10px 25px 10px rgba(54, 83, 107, 0.25);
    font-size: 15px;
    border-radius: 24px;    
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
    width: 327px;
    height: 48px;
    
  }

.RTS input[type=submit]{
    position: relative;
    left: 0px;   
    background-color: #BA4270;
    color:  #FBFCFE;
    border-radius: 25px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    width: 327px;
    height: 48px;
    padding: 0px;
}

.RTS input[type=submit]:hover{
  background-color: #DA6D97;
}


   #feet {    
    display: block;
    background-color: #1B262F;
    color: #FBFCFE;
    margin-top: 0px;
    width: 100%;
    height: 353px;

    font-family: 'Public Sans', sans-serif;
}


.f-foot{

    display: block;
    margin: 0x;
    width: 133px;
   /* border: 1px solid red;*/
}
#feet .f-foot{
display: block;

}

#feet #footer-logo{
    width: 133.9px;
    height: 36.77px;
    margin: 41.76px 120.34px 40.47px 120.76px;
   /* border: 1px solid blue;*/
}

#my-feet ul{
display: block;
margin: 0px 158px 40px 159px;
padding: 0px;
width: 58px;
height: 115px
}

#my-feet li{
    margin: 0px 0px 31px 0px;
}

.sGv{
    padding: 0px;
    display: block;
    margin: 0px ;
    width: 327px;
    
}

.svg-icons-mobile{
display: flex;
flex-wrap: wrap;
margin: 0px;
}

.f-footSvg{
    margin: 0px 127px 0px 128px;
    width: 129px;
    height: 24px;
    /*border: 1px solid red;*/
}

.f-footSvg svg{
    margin: 0px 0px 0px 0px;
}
#fb-icon{
    width: 24px;
    height: 24px;
    margin: 0px 24px 0px 0px;
}

#twit-icon{
    width: 24px;
    height: 19.5px;
    margin: 0px 24px 0px 0px;
}

#ln-icon{
    width: 24px;
    height: 24px;
}
.footer{
    display: none;
    margin: 0px;
    width: 480px;
}

footer{
    width: 100%;
}

#feet{
    width: 412px;
}
@media only screen and (max-width: 414px){
    body{
        width: 412px;
    }

    nav{
        margin-left: 42px;
        margin-right: 42px;
    }

    #top, #buttom, #toptab{
        display: none;
    }

    #topMob{
        
        display: flex;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #botMob{
        display: flex;
        position: absolute;
        top: 1695px;

    }

    @media only screen and (max-width: 390px){
        #top, #buttom, #toptab{
            display: none;
        }
    
        #topMob{
            
            display: flex;
            position: absolute;
            top: 0px;
            right: -35px;
        }
        #botMob{
            display: flex;
            position: absolute;
            top: 1695px;
    
        }
    
    }


    .hOne{
        margin-left: 42px;
        margin-right: 42px;
    }
    .middle{
        margin-left: 42px;
        margin-right: 42px;
    }
    .RTS{
        margin-left: 42px;
        margin-right: 42px;
    }
    .footer{
        display: none;
        margin: 0px;
        width: 412px;
    }
    footer{
        width: 100%;
        height: 353px;
    }
    #feet {    
        display: block;
        background-color: #1B262F;
        color: #FBFCFE;
        margin-top: 0px;
        width: 414px;
        height: 353px;
        font-family: 'Public Sans', sans-serif;
    }
}

@media only screen and (max-width: 375px){
    footer {
        width: 100%;
    }
    .footer{
        display:  none;
        color: #FBFCFE;
        font-family: 'Public Sans', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 375px;
        height: 38px;
        margin: 0px;
    }
    #feet {    
        display: block;
        background-color: #1B262F;
        color: #FBFCFE;
        margin-top: 0px;
        width: 375px;
        height: 353px;
        font-family: 'Public Sans', sans-serif;
    }
}
}
  /*Tablet View*/
@media only screen and (max-width: 1195px) {
    
}
  /*Tablet View*/


/*Mobile*/
@media only screen and (max-width: 380px) {
  

}